@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700&family=Quicksand:wght@200;300;400;500;600;700&display=swap');

body {
  background: white;
  font-family: 'Catamaran';
}

a {
  text-decoration: none;
  color: #404040;
}

#__next {
  max-width: 80%;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}

.page p {
  text-align: center;
}

nav {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  font-weight: 200;
}

nav a {
  padding: 10px
}

.logo-container {
  display: flex;
}

.logoutButton {
  background-color: white;
  border: 3px solid black;
  font-weight: 500;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .page {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .page {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .page {
    grid-template-columns: repeat(2, 1fr);
  }
}