.message {
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  display: block;
  width: 100%;
}

.label {
  align-self: flex-start;
}
